<%= form_with(model: @income_expenditure_statement) do |form| %>
  <% if income_expenditure_statement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(income_expenditure_statement.errors.count, "error") %> prohibited this income_expenditure_statement from being saved:</h2>

      <ul>
        <% income_expenditure_statement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block", class: "form-label" %>
    <%= form.text_field :name, placeholder: "January", class: "form-control", required: true %>
  </div>
  

  <hr class="my-4">
  <div class="row g-3">
    <h4>Income (Monthly)</h4>
    <div data-controller="nested-form" data-nested-form-wrapper-selector-value=".nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= form.fields_for :incomes, Income.new, child_index: 'NEW_RECORD' do |income_fields| %>
          <%= render "incomes/form", f: income_fields %>
        <% end %>
      </template>
      <%= form.fields_for :incomes do |income_form| %>
        <%= render "incomes/form", f: income_form %>
      <% end %>
      <div class="col-sm-12 p1">
        <div data-nested-form-target="target"></div>
        <button type="button" data-action="nested-form#add" class="btn btn-primary" >Add more incomes</button>
      </div>
    </div>
  </div>
  
  <hr class="my-4">
  <div class="row g-3">
    <h4>Expenditures (Monthly)</h4>
    <div data-controller="nested-form" data-nested-form-wrapper-selector-value=".nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= form.fields_for :expenditures, Expenditure.new, child_index: 'NEW_RECORD' do |expenditure_fields| %>
          <%= render "expenditures/form", f: expenditure_fields %>
        <% end %>
      </template>
      <%= form.fields_for :expenditures do |expenditure_form| %>
        <%= render "expenditures/form", f: expenditure_form %>
      <% end %>
      <div class="col-sm-12 p1">
        <div data-nested-form-target="target"></div>
        <button type="button" data-action="nested-form#add" class="btn btn-primary" >Add more Expenditure</button>
      </div>
    </div>  
  </div>
  <hr class="my-4">
    <%= form.submit class: "w-100 btn btn-primary btn-lg" %>
  </div>
<% end %>
