<p style="color: green"><%= notice %></p>

<%= render @income_expenditure_statement %>

<div>
  <%= link_to "Edit", edit_income_expenditure_statement_path(@income_expenditure_statement) %> |
  <%= link_to "Back", income_expenditure_statements_path %>

  <%= button_to "Delete", @income_expenditure_statement, method: :delete, class: "btn btn-primary " %>
</div>
